.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Todo 2.0 */
@media (max-width: 499px) {
  .change-color {
    background-color: red;
  }
}

/* Todo 2.1 */
@media (max-width: 499px) {
  .change-layout {
    flex-direction: column;
  }
}

/* Todo 2.2 */
@media (max-width: 767px) {
  .common-breakpoints {
    background-color: orange; /* for phone */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .common-breakpoints {
    background-color: yellow; /* for tablet */
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .common-breakpoints {
    background-color: green; /* for small screens (laptop) */
  }
}

@media (min-width: 1440px) {
  .common-breakpoints {
    background-color: purple; /* for large screens (desktops) */
  }
}
